* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:cursive;
}

body {
  background: #f5f7fb;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
}


.sidebar {
  width: 35%;
  background: linear-gradient(180deg, #00a4ff, #0076ff);
  color: white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1 {
  font-size: 33px;
  margin-bottom: 10px;
}

.sidebar p {
  font-size: 17px;
  opacity: 0.9;
}


.sidebar-illustration {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
}


.main-content {
  width: 65%;
  background: #ffffff;
  padding: 40px 60px;
  position: relative;
}


.back-link {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
  display: inline-block;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}


.main-content h2 {
    font-family:cursive;
  font-size: 32px;
  color: #4d627c;
  margin-bottom: 15px;
}

.main-content p.subtitle {

  color: #777;
  margin-bottom: 30px;
}


.btn-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.btn-primary,
.btn-outline,
.btn-danger {
  padding: 10px 22px;
  border-radius: 4px;
  border: rgb(255, 255, 255);
  cursor: finger ;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: #3652cf;
  color: rgb(0, 0, 0);
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline {
  background: transparent;
  color: #000000;
  border: 1px solid #1a73e8;
}

.btn-outline:hover {
  background: #4b69bb;
}

.btn-danger {
  background: #ff5a5f;
  color: white;
  position: absolute;
  right: 40px;
  bottom: 30px;
}



.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
}


.form-footer {
  margin-top: 15px;
  font-size: 13px;
}

.form-footer a {
  color: #1a73e8;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}


.search-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.search-row input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #d0d0d0;
}


.table-wrapper {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

th, td {
  padding: 10px 8px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

th {
  font-weight: bold;
  color: #666;
}

tr:nth-child(even) {
  background: #fafafa;
}